<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--His系统以县为单位，部署一个Wcf服务对应一个数据库连接文字串-->
    <add key="DB_Oracle_ConStr" value="Data Source=47.104.4.221:9900/ykey;User ID=cloudhis;Password=cloudhis;Unicode=True" />
    <!--<add key="DB_Oracle_ConStr" value="Data Source=127.0.0.1/YLLC;User ID=cloudhis;Password=cloudhis;Unicode=True"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>