<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>

    <!-- AES加解密秘钥 -->
    <add key="Key" value="65E5F302D46B558A"/>

    <!-- 健康通平台提供接口用户名 -->
    <add key="UserId" value="ln_12320wx"/>

    <!-- 健康通平台提供接口WebServices服务地址 -->
    <add key="JktUrl" value="http://218.60.147.93:8080/apiservice.asmx"/>

    <!-- 健康通平台提供接口服务请求类名 -->
    <add key="ClassName" value="apiservice"/>

    <!-- 健康通平台提供接口服务请求方法名 -->
    <add key="MethodName" value="PushService"/>

  </appSettings>
</configuration>
