<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="上次登录用户" value="" />
    <add key="上次登录密码" value="" />
    <add key="记住密码" value="否" />
    <add key="ServicesAddress" value="http://test7.ql-soft.com/api/v1/main/webapi" />
  </appSettings>
  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>