<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="appid" value="test" />
    <add key="上次登录用户" value="1002" />
    <add key="上次登录密码" value="1" />
    <add key="记住密码" value="True" />
    <add key="ServicesAddress" value="http://test7.ql-soft.com/api/v1/main/webapi" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>